# ignored output or compiled folder
.vscode
data
__pycache__
test*.py
*.pyc
test/*
tester
exps
!exps/README.md
!bin/exps/
outputs
doc
gui_test

# scripts
show_res_tables.py
search.sh
explorer_data.py
